html *{
	font-size: 12pt;
	color: #000;
	font-family: Arial !important;
}
p{
	margin-top: 3px;
	margin-bottom: 3px;
	color: #666666;
	font-style: italic;
}
ul{
	margin-top: 3px;
	margin-bottom: 3px;
}
li{
	margin-top: 3px;
	color: #666666;
	font-style: italic;
}
div{
	border-top: 1px solid #000;
	margin-top: 8px;
	padding-top: 5px;
	padding-left: 15px;
}
a{
	text-decoration: none;
}

.qr-code img{
	width: 110px;
}
.qr-code{
	padding: 10px;
	margin: -30px 0 0 -10px;
	float: left;
}
#cover-letter, #header, .qr-code, #main, #editor, #editor-content, .pagebreak{
	border: none;
}
.title{
	text-transform: uppercase;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: -15px;
}
.subtitle{
	margin-top: 6px;
	margin-bottom: 3px;
	font-style: italic;
}
#header .title{
	font-size: 16pt;
	margin-left: 0;
}
#header .subtitle{
	font-size: 14pt;
	font-weight: 100;
}
#header{
	padding-left: 0;
}			

#main{
	width: 210mm;
	padding-left: 0;
	float: left;
}

#skills .skills-ul li:last-child:after {
	content: ".";
}
#skills .skills-ul{
	display: inline;
	list-style: none;
	padding: 0;
}
#skills .skills-ul li{
	display: inline;
}
#skills .skills-ul li:after{
	content: ", ";
}
#skills .title{
	margin-top: 3px;
	margin-bottom: 3px;
}
#cover-letter {
	margin-bottom: 100px;
}
#cover-letter p{
	color: #000;
	font-style: normal;
	margin: 15px 0;
}
.pagebreak{
	page-break-before: always;
}
@media print {
	.hidden-print{
		display: none !important;
	}
}